.bar {
  background-color: $bg;
  min-height: 2rem;
  padding: 0.25rem;
  margin: 0.5rem 0.5rem 0 0.5rem;
  border-radius: 15rem;

  .workspaces {
    background-color: #2d2d2d;
    border-radius: 15rem;
    padding: 0.3rem;

    .workspace {
      background: $fg_alt; 
      min-width: 1.5rem;
      margin: 0 0.25rem;
      border-radius: 15rem;
      transition: 100ms linear;

      &.active {
        background: $fg;
        min-width: 2.5rem;
      }
    }
  }
}

label {
  color: #ffffff;
}
